################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClassLibrary2/ClassLibrary2.csproj
/ClassLibrary3
/ClassLibrary2
